@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}
@media (min-width: 375px) {
.container {
  height: 100vh;
  position: relative;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-size: 15px;
  font-family: 'Outfit', Comic Sans MS;
  font-weight: 400;
}

.outsideBox {
  display: flex;  
  flex-direction: column;
  position: relative;
  height: 65%;
  border-radius: 20px;
  background-color: white;
  margin: 10%;
}

img {
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
  width: 90%;
  height: 40%;
  min-height: 350px;
  margin: 15px auto;
  border-radius: 20px;
}

.text {
  margin: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

h1 {
  font-weight: 700;
  font-size: 26px;
}

p {
  font-size: 18px;
  margin-top: 30px;
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  width: 100%;
}
/* footer items */
.attribution { 
  position: absolute;
  bottom: 0;
  width: 100%;
   font-size: 11px; 
   text-align: center; 
   font-weight: 700;
   color: white;
   background-color: black;
   padding: 5px;
 } 
.attribution a {
  color: #00aec6;
}
}

@media (min-width: 1440px) {
.attribution {
  position: absolute;
  bottom: 0;
  width: 100%;
   font-size: 20px; 
   text-align: center; 
   font-weight: 700;
   color: white;
   background-color: black;
   padding: 10px;
 } 
  .outsideBox {
  display: flex;  
  flex-direction: column;
  position: relative;
  height: 60%;
  border-radius: 20px;
  background-color: white;
  margin: 37%;
}
 
 img {
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
  width: 90%;
  height: 60%;
  border-radius: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 20px;
}

h1 {
  font-weight: 700;
  font-size: 26px;
}

p {
  font-size: 18px;
  margin-top: 30px;
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  width: 100%;
}
}